<mat-drawer-container class="min-h-screen">
    <mat-drawer-content>
        <div class="p-4 mx-auto">
            <h2 class="text-xl font-semibold py-2">Internship Register</h2>
            <div class="border-b border-black h-[1px] mb-4"></div>
            <div class="flex space-x-4 items-center">
                <mat-form-field>
                    <input matInput placeholder="Major">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Company">
                </mat-form-field>
                <button mat-icon-button color="primary" class="mb-4">
                    <mat-icon class="h-20">search</mat-icon>
                </button>
            </div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                                      [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null"
                                      [checked]="selection.isSelected(row)"
                                      [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>No.</th>
                    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
                </ng-container>

                <ng-container matColumnDef="major">
                    <th mat-header-cell *matHeaderCellDef>Major</th>
                    <td mat-cell *matCellDef="let element">{{ element.major }}</td>
                </ng-container>

                <ng-container matColumnDef="course">
                    <th mat-header-cell *matHeaderCellDef>Course</th>
                    <td mat-cell *matCellDef="let element">{{ element.course }}</td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element">{{ element.status }}</td>
                </ng-container>

                <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef>Start Date</th>
                    <td mat-cell *matCellDef="let element">{{ element.startDate }}</td>
                </ng-container>

                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef>End Date</th>
                    <td mat-cell *matCellDef="let element">{{ element.endDate }}</td>
                </ng-container>

                <ng-container matColumnDef="action" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="primary" [disabled]="selection.isSelected(element) === false">Join</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator
                    [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements"
            >
            </mat-paginator>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
