<div style="padding-top: 10px;">
  @if (isReady$ | async) {
  <div class="drop-zone" #uploadReady>
    <div class="text-wrapper">
      <div class="centered">
        <input type="file" name="file" id="file" (change)="onChange($event)" />
        <label for="file" class="text-sm align-middle">
          <mat-icon>
            <span class="material-symbols-outlined">cloud_upload</span>
          </mat-icon>
          &nbsp;&nbsp;
          <span class="text-link text-sm">Click here to upload</span>
          or drag and drop
        </label>
      </div>
    </div>
  </div>
  }

  @if (isInProgress$ | async) {
  <ng-template #uploadInProgress>
    <mat-icon>
      <span class="material-symbols-outlined">file_present</span>
    </mat-icon>
    <mat-progress-bar mode="determinate" class="mt-10">
      Uploading... {{progress$ | async}}%
    </mat-progress-bar>
    <button mat-icon-button color="accent" (click)="resetUpload()">
      <mat-icon>
        <span class="material-symbols-outlined">refresh</span>
      </mat-icon>
    </button>
  </ng-template>
  }

  @if (completed$ | async) {
  <ng-template #uploadCompleted>
    <mat-icon>
      <span class="material-symbols-outlined">file_present</span>
    </mat-icon>
    <button mat-icon-button color="warn" (click)="cancelUpload()">
      <mat-icon>
        <span class="material-symbols-outlined">delete_forever</span>
      </mat-icon>
    </button>
    <h5>File has been uploaded successfully</h5>
    <div class="submit-btn flex gap-5">
      <button mat-raised-button class="submit-btn" type="submit" color="primary" aria-label="submit"
        (click)="uploadFile()">Submit</button>
    </div>
  </ng-template>
  }

  @if (hasFailed$ | async) {
  <ng-template #uploadFailed>
    <mat-icon color="warn">
      <span class="material-symbols-outlined">scan_delete</span>
    </mat-icon>
    <button mat-icon-button color="warn" (click)="cancelUpload()">
      <mat-icon>
        <span class="material-symbols-outlined">delete_forever</span>
      </mat-icon>
    </button>
    <p class="text-sm">Error: {{error$ | async}}</p>
  </ng-template>
  }
</div>