$casal-palette: (
    50: #E3F2FE ,
    100: #E3F2FE ,
    200: #8ECBFF,
    300: #5FB6FE,
    400: #39A7FF,
    500: #0897FE,
    600: #0E88F0,
    700: #0E76DC,
    800: #0D65CA,
    900: #1046AA,
    A100: #82B1FF,
    A200: #448AFF,
    A400: #2979FF,
    A700: #2962FF,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #ffffff,
      A400: #ffffff,
      A700: #ffffff,
    )
  )
