mat-card {
    width: 98%;
    margin-left: 12px;
    border-radius: 15px;

    mat-stepper {
        border-radius: 15px;
        
        mat-card-content {
            margin-left: 20px;

            button {
                margin-left: 85%;
                width: 12%;
                border-radius: 15px;
                color: white;
            }
        }
    }
}